.add-option-error {
  color: white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.form {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.note {
  vertical-align: middle;
  justify-content: center;
}

@media (min-width: $desktop-breakpoint) {
  .form {
    flex-direction: row;
  }
  .form {
    margin: 0 $s-size 0 0;
  }
}
