.header {
  background: $blue;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $m-size 0;
}
